einops
PyTurboJPEG
huggingface_hub
annotated_types
typing_inspection
pydantic_core
pydantic
starlette
fastapi
bitsandbytes==0.45.5
loguru
regex
safetensors
transformers==4.51.2
tokenizers
sentencepiece
click
accelerate
quanto
pydash
pybase64
uvicorn
optimum-quanto==0.2.5

https://github.com/huggingface/diffusers@28f48f4051e80082cbe97f2d62b365dbb01040ec
protobuf
peft
triton
runpod==1.7.9