einops
PyTurboJPEG
huggingface_hub
annotated_types
typing_inspection
pydantic_core
pydantic
starlette
fastapi
bitsandbytes==0.45.5
loguru
regex
safetensors
transformers
tokenizers
sentencepiece
click
accelerate
quanto
pydash
pybase64
uvicorn
optimum-quanto==0.2.5

diffusers
protobuf
peft
triton